
/****
Costum cybertourisme mobile css
**/
.ui-header{
   background: #4679bd !important;
   text-align:center;
}


.ui-header .ui-title{
	margin-right: 0 !important;
	margin-left: 0 !important;
	font-weight: bold;
	font-size: 1.2em;
}

.ui-footer{color: #ffff}
.ui-control-inactive.ui-link.ui-btn{
	border-style: solid; 
 	border-color: gray; 	
}

 .ui-control-active.ui-link.ui-btn{ background: gray; } 
 .ui-control-inactive.ui-link.ui-btn { background: #4679bd;color: white; } 